.nav__height {
  height: 10%;
}

.nav-padding {
  padding: 15px 10px;
}

.link-blog {
  color: #000;
  &:hover {
    text-decoration: underline;
  }
}

.emoji-title {
  font-size: 30px;
  vertical-align: text-bottom;
}