.social-icon {
  p {
    padding: 0 5px;
  }
  a {
    color: $gray;
    font-size: 20px;
    transition: 0.3s;
    &:hover {
      color: $off-white;
    }
  }
  .blog--anchor > a{
    color: lighten($pink, 25%);
    transition: 0.3s;
    &:hover {
      color: $pink;
    }
  }
  
}