@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Rubik');


$fontfamilyParagraph: 'Rubik', sans-serif;
$fontfamilyTitle: 'Open Sans', sans-serif;

$pink: #ff0080;
$gray: #969696;
$off-white: rgb(241, 239, 239);
$black: #000;
$off-black: #161618;
$purple: #6c5cff;
